.c-article {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  overflow: auto;

  background: $color-bg;
  -webkit-overflow-scrolling: touch;
}

.c-article__overlay {
  height: auto;
  padding-top: 10.4167vmax;
}

.c-article::-webkit-scrollbar {
  display: none;
}

.c-article__img {
  width: 100%;
}

.c-article__desc {
  padding: 1.5em 1.5em 0;

  > h1, p {
    margin-bottom: 1.625rem;
  }

  @include bp(medium) {
    width: 20.834vw;
    padding: 0;
  }
}

.c-article__desc-date {
  font-size: 0.8889rem;
}

.c-article__inner {
  background: $color-white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);

  @include bp(medium) {
    width: 66.6667%;
    margin-left: calc((100% - 66.6667%) / 2);
    margin-bottom: 10.4167vmax;
  }
}

.c-article__text {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 6.458vw;
  margin-bottom: 6.458vw;
  padding: 0 1.5em 3em;

  @include bp(medium) {
    > p {
      width: 36.458vw;
      margin-bottom: 1.625rem;
      padding: 0;
    }
  }
}
