/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header {
  position: sticky;
  top: 0;
  left: 0;
  margin-top: 2.083vmax;
  width: 100vw;
  height: 5.209vmax;
  background: $color-header-bg;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  color: $color-header-text;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.c-header__heading {
  margin-bottom: 0;
}

.c-header__heading--clickable {
  cursor: pointer;
}
