.c-post {
  cursor: pointer;
}

.c-post__preview {
  position: relative;

  display: inherit;
  flex-direction: column;
  justify-content: center;
  padding: 1.823vmax 4.167vmax;
}

.c-post__preview--big {
  > h1, p {
    margin-bottom: 0.8125rem;
  }
}

.c-post__img {
  min-width: 33.334vw;
}

.c-post__title {
  background: $color-text-gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.c-post__text {
  overflow: hidden;
  height: 4.6em;
}
