/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/* Simple flexbox layout system */

.o-layout {
  display: block;

  @include bp(medium) {
    display: flex;
    flex-flow: row wrap;
  }
}

.o-layout__item {
  background: $color-post-bg;
  margin: 2.396vmax 0;

  @include bp(medium) {
    display: inline-flex;
    justify-content: flex-end;

    width: 50vw;
    height: 16.667vmax;

    &:nth-child(6n + 3) {
      width: 66.667vw;
      height: 33.334vmax;
      margin-left: auto;
    }

    &:nth-child(6n + 4) {
      flex-direction: row-reverse;
    }

    &:nth-child(6n + 5) {
      flex-direction: row-reverse;
    }

    &:nth-child(6n + 6) {
      width: 66.667vw;
      height: 33.334vmax;
      margin-right: auto;
    }
  }
}

// .o-layout__item {
//   flex: 1;
// }

// .o-layout--guttered {
//   justify-content: space-between;

//   > .o-layout__item {
//     flex: none;
//   }
// }

.o-layout--2 {
  > .o-layout__item {
    margin: 0;
    flex-direction: column;

    @include bp(medium) {
      width: 50%;
      height: auto;
      justify-content: center;
      align-items: center;
    }
  }
}

// .o-layout--3 {
//   > .o-layout__item {
//     @include bp(medium) {
//       width: 32%;
//     }
//   }
// }

// .o-layout--4 {
//   > .o-layout__item {
//     @include bp(medium) {
//       width: 24%;
//     }
//   }
// }
